## Pyravelry

In [ ]:
%load_ext autoreload
%autoreload 2

In [65]:
import pandas as pd

from pyravelry import Client, Settings

In [18]:
# need to define a .env with RAVELRY_USERNAME and RAVELRY_API_KEY
# or define it on the command line.
settings = Settings()
client = Client(settings=settings)

In [40]:
results = client.search.query(query="merino", limit=50, types="Yarn")

In [62]:
df = pd.json_normalize([obj.model_dump() for obj in results])

In [63]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 50 entries, 0 to 49
Data columns (total 9 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   title             50 non-null     object
 1   type_name         50 non-null     object
 2   caption           50 non-null     object
 3   tiny_image_url    45 non-null     object
 4   image_url         45 non-null     object
 5   record.type       50 non-null     object
 6   record.id         50 non-null     int64
 7   record.permalink  50 non-null     object
 8   record.uri        50 non-null     object
dtypes: int64(1), object(8)
memory usage: 3.6+ KB

In [64]:
df.loc[0:3, ["title", "type_name"]]

           title type_name
0    MerinoSeide      yarn
1    Merinosukka      yarn
2      MERINO100      yarn
3  Merino-Tussah      yarn